<!-- <h2>Privacy Policy of <span class="website_url">https://prod.vpassph.com</span><br></h2>

<p>At <span class="website_name">VPASS PH</span><br>, we collect and manage user data according to the following Privacy Policy.</p>

<h3>Data Collected</h3>

<p>We collect information you provide directly to us. For example, we collect information when you create an account, subscribe, participate in any interactive features of our services, fill out a form, request customer support or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, credit card information and other contact or identifying information you choose to provide.</p>

<p>We collect anonymous data from every visitor of the Website to monitor traffic and fix bugs. For example, we collect information like web requests, the data sent in response to such requests, the Internet Protocol address, the browser type, the browser language, and a timestamp for the request.</p>

<p>We also use various technologies to collect information, and this may include sending cookies to your computer. Cookies are small data files stored on your hard drive or in your device memory that helps us to improve our services and your experience, see which areas and features of our services are popular and count visits. We may also collect information using web beacons (also known as "tracking pixels"). Web beacons are electronic images that may be used in our services or emails and to track count visits or understand usage and campaign effectiveness. Our Privacy Policy was created with the help of the <a href="https://www.privacy-policy-template.com">Privacy Policy Template</a> and the <a href="https://www.generateprivacypolicy.com">Generate Privacy Policy Generator</a>.</p>

<h3>Use of the Data</h3>

<p>We only use your personal information to provide you the <span class="website_name">VPASS PH</span><br> services or to communicate with you about the Website or the services.</p>

<p>We employ industry standard techniques to protect against unauthorized access of data about you that we store, including personal information.</p>

<p>We do not share personal information you have provided to us without your consent, unless:</p>

<ul>
<li>Doing so is appropriate to carry out your own request</li>
<li>We believe it's needed to enforce our legal agreements or that is legally required</li>
<li>We believe it's needed to detect, prevent or address fraud, security or technical issues</li>
</ul>

<h3>Sharing of Data</h3>

<p>We don't share your personal information with third parties. Aggregated, anonymized data is periodically transmitted to external services to help us improve the Website and service.</p>

<p>We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information.</p>

<p>We also use social buttons provided by services like Twitter, Google+, LinkedIn and Facebook. Your use of these third party services is entirely optional. We are not responsible for the privacy policies and/or practices of these third party services, and you are responsible for reading and understanding those third party services' privacy policies.</p>

<h3>Cookies</h3>

<p>We may use cookies on our site to remember your preferences.</p>

<p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p>

<h3>Opt-Out, Communication Preferences</h3>

<p>You may modify your communication preferences and/or opt-out from specific communications at any time. Please specify and adjust your preferences.</p>

<h3>Security</h3>

<p>We take reasonable steps to protect personally identifiable information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. But, you should keep in mind that no Internet transmission is ever completely secure or error-free. In particular, email sent to or from the Sites may not be secure.</p>

<h3>About Children</h3>

<p>The Website is not intended for children under the age of 13. We do not knowingly collect personally identifiable information via the Website from visitors in this age group.</p>

<h3>Changes to the Privacy Policy</h3>

<p>We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used.</p>

<p>If we make major changes in the way we collect or use information, we will notify you by posting an announcement on the Website or sending you an email.</p> -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VPASS</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/vpass_icon.png">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="result-body notice-body">
        <div class="logo">
            <img src="/vpass-logo.png">
        </div>
        <div class="container">
            <h2>Privacy Notice</h2>
    
            <p>VPASS is an application that can be downloaded and installed on your mobile devices and accessed online. After registration, a unique QR code will be generated and shown on your screen that people can scan using any QR Code readers, to get information described in this Privacy Policy.</p>
        
            <p>This allows you to share your validated health profile and declaration. We <strong>protect your privacy</strong> and ensure that <strong>you have control over your data.</strong></p>
        
            <p>The <strong>data controller</strong> of this application is the Philippine Government. </p>
    
            <p>Data Processor are as follows:</p>
    
            <span class="indent">1.</span><span>VPASS PH - Owner of the application</span><br>
            <span class="indent">2.</span><span>Accredited Testing Centers</span><br>
            
            <p><strong>We Store Limited Data:</strong></p>
    
            <p>We have limited data collection. A random user identifier is also generated using hash technology when you sign up. Both mobile numbers and user id is stored in a secure cloud server and never shown in public.</p>
    
            <p>We also collect the following:</p>
    
            <span class="indent">1.</span><span>Name</span><br>
            <span class="indent">2.</span><span>City Address</span><br>
            <span class="indent">3.</span><span>Email</span><br>
            <span class="indent">4.</span><span>Test History</span><br>

            <p>People may only access your health profile once you allow them to scan your QR code. We record every person who scans your QR code as well.</p>

            <p>We understand your rights as a data subject and we adhere to the rights of every citizen with the following rights:</p>

            <span class="indent">1.</span><span>Right to Informed</span><br>
            <span class="indent">2.</span><span>Right to be Object</span><br>
            <span class="indent">3.</span><span>Right to Access</span><br>
            <span class="indent">4.</span><span>Right to Portability</span><br>
            <span class="indent">5.</span><span>Right to Correct</span><br>
            <span class="indent">6.</span><span>Right to Block / Remove</span><br>
            <span class="indent">7.</span><span>Right to Complaint</span><br>
            <span class="indent">8.</span><span>Right to be indemnified</span><br>

            <p>If you provide us with Data:</p>

            <div class="flex-indent">
                <div class="indent">1.</div><div>We may process, interpret and disclose findings with the Philippine Government and accredited testing centers in connection with your use of VPASS, unless such sharing is prohibited by written law</div>
            </div>
            
            <p>Data of third party individuals</p>

            <div class="flex-indent">
                <div class="indent">1.</div><div>In the course of your Use of VPASS, we may collect Data relating to other individuals from you.</div>
            </div>
            <div class="flex-indent indent">
                <div class="indent">1.</div><div>You shall, prior to disclosing to us such Data relating to other individuals -</div>
            </div>
            <div class="flex-indent indent2">
                <div class="indent">1.</div><div>Inform these individuals of such action and the purpose of sharing their personal data, as set out in this Privacy Statement and as notified by us to you; and</div>
            </div>
            <div class="flex-indent indent2">
                <div class="indent">2.</div><div>Ask for the consent from the individuals whose personal data are being disclosed.</div>
            </div>
            <div class="flex-indent indent">
                <div class="indent">2.</div><div>You represent and warrant that -</div>
            </div>
            <div class="flex-indent indent2">
                <div class="indent">1.</div><div>The personal data that you will be providing us or have provided us is, complete, accurate, true and correct; and</div>
            </div>
            <div class="flex-indent indent2">
                <div class="indent">2.</div><div>You have the valid authority and consent from these individuals to act on their behalf and provide their personal data to us to collect, use, disclose and process for the Purposes.</div>
            </div>

            <p>How we handle and manage your Data</p>

            <div class="flex-indent">
                <div class="indent">1.</div><div>Your Data may be stored in servers, systems or devices owned, operated or managed by us, a relevant Third Party or any third party service provider engaged by us or a relevant Third Party, or on your Device, and may be used by us (or our third party service providers) and Approved Service Providers to facilitate your Use of VPASS.</div>
            </div>
            <div class="flex-indent">
                <div class="indent">2.</div><div>You may withdraw your consent to the use and disclosure of Data by us with reasonable notice; however, doing so may prevent proper Use of VPASS, or any part thereof and may also result in the cessation of your Use of VPASS, or any part thereof. We may retain, use, disclose and process your Data for any of the Purposes set out herein where permitted under any applicable law</div>
            </div>

            <p><strong>Log Files</strong></p>

            <p>VPASS follows a standard procedure of using log files. These files log all QR Code scanning activities in the application, for tracking and tracing purposes.</p>

            <p><strong>Privacy Policy</strong></p>

            <p>VPASS does not collect other data other than the mentioned above. Controlled and limited data are only shared only when you allow others to scan your QR Code</p>

            <p><strong>Third Party Privacy Policy</strong></p>

            <p>VPASS privacy policy does not apply to other advertisers or websites. VPASS does not have advertising feature, making third party’s’ privacy policies not applicable in VPASS to begin with</p>

            <p><strong>Children’s Information</strong></p>

            <p>VPASS does not collect users’ birthday and/or age. If you think that your child provided this kind of information on our application, we encourage you to contact us immediately and we will remove such information from our records.</p>

            <p>We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

            <p><strong>Consent</strong></p>

            <p>By using our application, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>

            <p>For any inquiries on our privacy, statement, and practices, including how you can exercise your rights as a data subject, you may contact us through:</p>

            <div>Data Protection Officer</div>
            <div>Email: <a href="mailto:administrator@vpassph.com">administrator@vpassph.com</a></div>
        </div>
    </body>
</html>
