@font-face {
    font-family: "Roboto";
    src: url("/views/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/views/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/views/Roboto-Regular.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

.result-body{
    background-color: #F7F7F7;
}

.notice-body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
}

.indent{
    margin-left: 2vw;
    margin-right: 1vw;
}

.indent2{
    margin-left: 4vw;
    margin-right: 2vw;
}

.flex-indent{
    display: inline-flex;
}

.img-container{
    width: 100%;
    position: relative;
    height: 250px;
    
}

.vpass-img{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 25vw;
}

.download-text{
    position: relative;
    text-align: center;
    font-family: Roboto;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 60px;
    line-height: 60px !important;
    border-radius: 10px;
    background-color: #005fbd;
}

.download-text a{
    text-decoration: none;
    color: white;
}

.container {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    background-color: white;
}

.logo {
    height: 25px;
    padding-top: 25px;
    position: relative;
}

.logo img {
    width: 101px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.result-img{
    margin: auto;
    margin-top: 32px;
    height: 160px;
    width: 160px;
    position: relative;
}

.round-bg{
    height: 100%;
    width: 100%;
    border-radius: 80px;
    background-color: #F7F7F7;
}

.result-icon{
    font-size: 80px;
    height: 80px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.result-green {
    color: #00BA8A;
}

.result-red {
    color: #E50000;
}

.bg-red {
    background-color: #E50000;
}

.border-red {
    border: 4px solid #E50000;
}

.result-black {
    color: #464646;
}

.bg-black {
    background-color: #464646;
}

.border-black {
    border: 4px solid #464646;
}

.result-blue {
    color: #005fbd;
}

.bg-blue {
    background-color: #005fbd;
}

.border-blue {
    border: 4px solid #005fbd;
}

.v-color{
    color: #005fbd;
}

.pass-color{
    color: #00ba8c;
}

.result-text{
    position: relative;
    height: 40px;
    width: 100%;
    font-size: 25px;
    line-height: 33px;
    font-weight: bold;
}

.result {
    border-radius: 10px;
    font-family: Roboto;
}

.result-contact {
    padding: 20px;
    color: white;
}

.name{
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
}

.address{
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
}

.result-details {
    padding: 20px;
}

.vresult {
    font-weight: bold;
}

.vresult, .date {
    font-size: 16px;
    line-height: 24px;
}

.contact{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}


@media (max-width: 414px) {
    .vpass-img {
        max-width: 80%;
    }
}

@media (max-width: 750px) {
    .vpass-img {
        max-width: 50vw;
    }
}

@media (min-width: 415px) {
    .container{
        max-width: 500px;
        margin: auto;
        margin-top: 25px;
    }
}

.store-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; */
    position: relative;
    height: 65px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.store-container img{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 200px;
}

.form-label {
    font-weight: bold;
    line-height: 26px;
}

.form-input {
    line-height: 30px;
    margin-bottom: 10px;
    width: 90%;
}

.form-button {
    width: 92%;
    height: 34px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button-disabled {
    background-color: darkgray;
}

.button-enabled {
    background-color: #005fbd !important;
}

.message-container {
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    background-color: #E50000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
}

.message-hide {
    display: none;
}