<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VPASS</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/vpass_icon.png">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    </head>
    <body class="result-body">
        <div class="logo">
            <img src="/vpass-logo.png">
        </div>
        <div class="container">
            <div class="result border-<%= color %>">
                <div class="result-contact bg-<%= color %>">
                    <div class="name"><%= firstname %> <%= lastname %></div>
                    <div class="address"><%= city_address %></div>
                    <div class="contact"><%= contact_number %></div>
                </div>
                <div class="result-details">
                    <div class="result-text">
                        <% if(safe === 1){ %>
                            <div class="result-blue"><i class="fas fa-plus-circle"></i> NEGATIVE</div>
                        <% } %>
                        <% if(safe === 0){ %>
                            <div class="result-red"><i class="fas fa-minus-circle"></i> POSITIVE</div>
                        <% } %>
                        <% if(safe === 2){ %>
                            <div class="result-black"><i class="fas fa-dot-circle"></i> NOT TESTED</div>
                        <% } %>
                    </div>
                    <% if(safe != 2){ %>
                        <div class="vresult"><%= virus %>: <%= test %></div>
                        <div class="contact"><%= date_recorded %></div>
                    <% } %>
                </div>
            </div>
            <!-- <% if(safe != 2){ %>
                <div class="result-text">
                    <% if(safe === 1){ %>
                        <div class="result result-green"><%= virus %></div>
                    <% } %>
                    <% if(safe === 0){ %>
                        <div class="result result-red"><%= virus %></div>
                    <% } %>
                </div>
            <% } %>
            <div class="result-img">
                <div class="round-bg"></div>
                <div class="result-icon">
                    <% if(safe === 1){ %>
                        <i class="fas fa-user-check result-green"></i>
                    <% } %>
                    <% if(safe === 0){ %>
                        <i class="fas fa-user-times result-red"></i>
                    <% } %>
                    <% if(safe === 2){ %>
                        <i class="fas fa-user-clock result-black"></i>
                    <% } %>
                </div>
            </div>
            <div class="result-text">
                <% if(safe === 1){ %>
                    <div class="result result-green">NEGATIVE</div>
                <% } %>
                <% if(safe === 0){ %>
                    <div class="result result-red">POSITIVE</div>
                <% } %>
                <% if(safe === 2){ %>
                    <div class="result result-black">NOT TESTED</div>
                <% } %>
            </div>
            <div class="result-details">
                <div class="name"><%= firstname %> <%= lastname %></div>
                <div class="address"><%= city_address %></div>
                <div class="contact"><%= contact_number %></div>
                <% if(safe != 2){ %>
                    <div class="contact">
                        <%= date_recorded %> 
                    </div>
                <% } %>
            </div> -->
        </div>
    </body>
</html>